#Header-section {
  padding: 3vw 0;
}

.header-title {
  color: #efe3c6;
  margin: 0%;
}

p {
  color: #928e87;
}

.header-content-con {
  display: flex;
  justify-content: space-between;
}

.add-a-book-btn {
  background-color: #dc9c86;
  color: #241c15;
  font-weight: 600;
  border: none;
  padding: 1vw 2vw;
  border-radius: 10px;
}
